body {
    font-family: monospace;
    font-size: 9pt;
    margin: 2%;
}
form {
    border: 2px dashed gray;
    padding: 6px;
    width: max-content;
}
div.content {
    margin: 1%;
    text-align: center;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
}
table.tscores {
    margin: auto;
}
td {
    padding: 3px;
}
td.col {
    border: none;
    font-weight: bold;
}
td.row {
    border: none;
    font-weight: bold;
}
td.scr {
    border: 1px solid black;
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: orange;
}
